<form #passwordForm="ngForm" class="container" (ngSubmit)="registerCustomer()">
    <div class="header">
        <h1 [style.color]="color">{{question.header}}</h1>
    </div>

    <div class="question">
        <p *ngIf="question.subText !== undefined">{{question.subText}}</p>
    </div>

    <div class="inputBox">
        <input type="password" required name="passwordField"
            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d@$!%*?&]{8,}$" 
            #passwordField="ngModel"
            [(ngModel)]="password">
        <span>Mot de passe</span>
    </div>

    <div class="inputBox">
        <input type="password" required name="confirmPassword" 
        #confirmPasswordField="ngModel" 
        [(ngModel)]="confirmPassword">
        <span>Confirmez le mot de passe</span>
    </div>

    <div class="hint-container">
        <span [ngClass]="{
            'incorrect' : passwordField.dirty && !confirmPasswordHasAtLeast8Characters(),
            'correct': passwordField.dirty && confirmPasswordHasAtLeast8Characters()}">
            Votre mot de passe doit faire au moins 8 carractères
        </span>
        <span [ngClass]="{
            'incorrect' : passwordField.dirty && !confirmPasswordHasAtLeast1Capital(),
            'correct': passwordField.dirty && confirmPasswordHasAtLeast1Capital()}">
            Votre mot de passe doit contenir au moins une majuscule
        </span>
        <span [ngClass]="{
            'incorrect' : passwordField.dirty && !confirmPasswordHasAtLeast1Minuscule(),
            'correct': passwordField.dirty && confirmPasswordHasAtLeast1Minuscule()}">
            Votre mot de passe doit contenir au moins une
            minuscule</span>
        <span [ngClass]="{
            'incorrect' : passwordField.dirty && !confirmPasswordHasAtLeast1number(),
            'correct': passwordField.dirty && confirmPasswordHasAtLeast1number()}">
            Votre mot de passe doit contenir au moins un
            chiffre</span>

        <span [ngClass]="{
                'incorrect' : passwordField.dirty && !confirmPasswordMatchToPassword(),
                'correct': passwordField.dirty && confirmPasswordMatchToPassword()}">
            Les champs saisies sont identiques</span>
    </div>

    <button type="submit" class="clovis-btn" 
        [style.background-color]="color" 
        [disabled]="!passwordForm.valid || !confirmPasswordMatchToPassword()">
        <span>Valider</span>
    </button>
</form>